<h1>List of all articles</h1>

<table style="border: 1px solid #efefef;">
	<tr>
		<th style="border: 1px solid #000;">Title</th>
		<th style="border: 1px solid #000;">Text</th>
     <th colspan="2"></th>
	</tr>

	<% @articles.each do |article| %>
	<tr style="border: 1px solid #efefef;">
		<td style="text-align: center; border: 1px solid #000;padding: 10px;"><%= article.title %></td>
		<td style="text-align: center; border: 1px solid #000;padding: 10px;"><%= article.text %></td>
	    <td><%= link_to 'Show', article_path(article) %></td>
	    <td><%= link_to 'Edit', edit_article_path(article) %></td>
		<td><%= link_to 'Destroy', article_path(article), method: :delete, data: { confirm: 'Are you sure?' } %></td>
	</tr>
	<% end %>
</table>

</br>

<%= link_to 'Back again', welcome_index_path %>
